.stl_ sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
.stl_ sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
.stl_ a:link {text-decoration:none;}
.stl_ a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.stl_layer { }.stl_ie { font-size: 1pt; }
.stl_ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.stl_grlink { position:relative;width:100%;height:100%;z-index:1000000; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 49.58333em;
	height: 70.08334em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 49.58333em;
}
.stl_06 {
	height: 7.008333em;
}
.stl_ie .stl_06 {
	height: 70.08334em;
}
.stl_07 {
	font-size: 0.666667em;
	font-family: "Times New Roman";
	color: #FF0064;
}
.stl_08 {
	line-height: 1.107422em;
}
.stl_09 {
	letter-spacing: 0em;
}

.stl_ie .stl_09 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"HELUQG+Times New Roman";
	src:url("dfa453f3-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 0.84em;
	font-family: "HELUQG+Times New Roman";
	color: #000000;
}
.stl_11 {
	letter-spacing: -0.0063em;
}

.stl_ie .stl_11 {
	letter-spacing: -0.0851px;
}
@font-face {
	font-family:"WUCKQC+Times New Roman Bold";
	src:url("dd837f91-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_12 {
	font-size: 0.84em;
	font-family: "WUCKQC+Times New Roman Bold";
	color: #000000;
}
.stl_13 {
	letter-spacing: -0.0056em;
}

.stl_ie .stl_13 {
	letter-spacing: -0.0752px;
}
.stl_14 {
	letter-spacing: -0.0032em;
}

.stl_ie .stl_14 {
	letter-spacing: -0.0437px;
}
@font-face {
	font-family:"LLDWUH+Garamond Bold";
	src:url("154c26b6-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_15 {
	font-size: 1.16em;
	font-family: "LLDWUH+Garamond Bold";
	color: #000000;
}
.stl_16 {
	line-height: 1.125em;
}
.stl_17 {
	letter-spacing: -0.0002em;
}

.stl_ie .stl_17 {
	letter-spacing: -0.0035px;
}
@font-face {
	font-family:"OURCJQ+Garamond Bold";
	src:url("289263fb-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_18 {
	font-size: 0.84em;
	font-family: "OURCJQ+Garamond Bold";
	color: #000000;
}
.stl_19 {
	letter-spacing: 0.008em;
}

.stl_ie .stl_19 {
	letter-spacing: 0.1076px;
}
.stl_20 {
	font-size: 0.84em;
	font-family: "LLDWUH+Garamond Bold";
	color: #000000;
}
.stl_21 {
	letter-spacing: -0.0049em;
}

.stl_ie .stl_21 {
	letter-spacing: -0.066px;
}
.stl_22 {
	letter-spacing: -0.0055em;
}

.stl_ie .stl_22 {
	letter-spacing: -0.0745px;
}
@font-face {
	font-family:"TRDEBJ+Times New Roman";
	src:url("8e895405-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_23 {
	font-size: 0.84em;
	font-family: "TRDEBJ+Times New Roman";
	color: #000000;
}
.stl_24 {
	letter-spacing: -0.0158em;
}

.stl_ie .stl_24 {
	letter-spacing: -0.213px;
}
.stl_25 {
	letter-spacing: 0.0028em;
}

.stl_ie .stl_25 {
	letter-spacing: 0.0378px;
}
.stl_26 {
	letter-spacing: -0.0082em;
}

.stl_ie .stl_26 {
	letter-spacing: -0.1108px;
}
.stl_27 {
	letter-spacing: -0.0048em;
}

.stl_ie .stl_27 {
	letter-spacing: -0.0642px;
}
.stl_28 {
	font-size: 0.648em;
	font-family: "TRDEBJ+Times New Roman";
	color: #000000;
}
.stl_29 {
	letter-spacing: -0.0074em;
}

.stl_ie .stl_29 {
	letter-spacing: -0.0642px;
}
.stl_30 {
	letter-spacing: -0em;
}

.stl_ie .stl_30 {
	letter-spacing: -0px;
}
.stl_31 {
	letter-spacing: -0.0012em;
}

.stl_ie .stl_31 {
	letter-spacing: -0.016px;
}
.stl_32 {
	letter-spacing: -0.0006em;
}

.stl_ie .stl_32 {
	letter-spacing: -0.0084px;
}
.stl_33 {
	letter-spacing: -0.0085em;
}

.stl_ie .stl_33 {
	letter-spacing: -0.1147px;
}
.stl_34 {
	letter-spacing: -0.0064em;
}

.stl_ie .stl_34 {
	letter-spacing: -0.0862px;
}
.stl_35 {
	letter-spacing: -0.0043em;
}

.stl_ie .stl_35 {
	letter-spacing: -0.0572px;
}
.stl_36 {
	letter-spacing: -0.001em;
}

.stl_ie .stl_36 {
	letter-spacing: -0.0131px;
}
.stl_37 {
	letter-spacing: -0.0029em;
}

.stl_ie .stl_37 {
	letter-spacing: -0.0389px;
}
.stl_38 {
	letter-spacing: -0.0065em;
}

.stl_ie .stl_38 {
	letter-spacing: -0.0868px;
}
.stl_39 {
	letter-spacing: -0.0027em;
}

.stl_ie .stl_39 {
	letter-spacing: -0.0365px;
}
.stl_40 {
	letter-spacing: -0.0042em;
}

.stl_ie .stl_40 {
	letter-spacing: -0.0365px;
}
.stl_41 {
	letter-spacing: -0.0041em;
}

.stl_ie .stl_41 {
	letter-spacing: -0.055px;
}
.stl_42 {
	letter-spacing: -0.0025em;
}

.stl_ie .stl_42 {
	letter-spacing: -0.0342px;
}
.stl_43 {
	letter-spacing: -0.01em;
}

.stl_ie .stl_43 {
	letter-spacing: -0.1351px;
}
.stl_44 {
	letter-spacing: 0.0041em;
}

.stl_ie .stl_44 {
	letter-spacing: 0.0548px;
}
.stl_45 {
	letter-spacing: 0.0151em;
}

.stl_ie .stl_45 {
	letter-spacing: 0.2027px;
}
.stl_46 {
	letter-spacing: -0.0005em;
}

.stl_ie .stl_46 {
	letter-spacing: -0.0067px;
}
.stl_47 {
	letter-spacing: 0.0076em;
}

.stl_ie .stl_47 {
	letter-spacing: 0.1027px;
}
.stl_48 {
	letter-spacing: -0.0061em;
}

.stl_ie .stl_48 {
	letter-spacing: -0.0823px;
}
.stl_49 {
	letter-spacing: -0.024em;
}

.stl_ie .stl_49 {
	letter-spacing: -0.3222px;
}
.stl_50 {
	letter-spacing: -0.0023em;
}

.stl_ie .stl_50 {
	letter-spacing: -0.0308px;
}
.stl_51 {
	letter-spacing: -0.013em;
}

.stl_ie .stl_51 {
	letter-spacing: -0.1747px;
}
.stl_52 {
	font-size: 0.648em;
	font-family: "OURCJQ+Garamond Bold";
	color: #000000;
}
.stl_53 {
	letter-spacing: -0.0202em;
}

.stl_ie .stl_53 {
	letter-spacing: -0.1747px;
}
.stl_54 {
	letter-spacing: -0.0058em;
}

.stl_ie .stl_54 {
	letter-spacing: -0.0783px;
}
.stl_55 {
	letter-spacing: -0.0004em;
}

.stl_ie .stl_55 {
	letter-spacing: -0.005px;
}
.stl_56 {
	letter-spacing: -0.0001em;
}

.stl_ie .stl_56 {
	letter-spacing: -0.0012px;
}
.stl_57 {
	letter-spacing: -0.0084em;
}

.stl_ie .stl_57 {
	letter-spacing: -0.1133px;
}
.stl_58 {
	font-size: 0.54em;
	font-family: "TRDEBJ+Times New Roman";
	color: #000000;
}
.stl_59 {
	letter-spacing: -0.015em;
}

.stl_ie .stl_59 {
	letter-spacing: -0.2013px;
}
.stl_60 {
	letter-spacing: -0.0044em;
}

.stl_ie .stl_60 {
	letter-spacing: -0.0588px;
}
.stl_61 {
	letter-spacing: -0.0238em;
}

.stl_ie .stl_61 {
	letter-spacing: -0.32px;
}
.stl_62 {
	letter-spacing: -0.0054em;
}

.stl_ie .stl_62 {
	letter-spacing: -0.0732px;
}
.stl_63 {
	letter-spacing: 0.0238em;
}

.stl_ie .stl_63 {
	letter-spacing: 0.3201px;
}
.stl_64 {
	letter-spacing: -0.0062em;
}

.stl_ie .stl_64 {
	letter-spacing: -0.083px;
}
.stl_65 {
	letter-spacing: 0.023em;
}

.stl_ie .stl_65 {
	letter-spacing: 0.3092px;
}
.stl_66 {
	letter-spacing: -0.0038em;
}

.stl_ie .stl_66 {
	letter-spacing: -0.0516px;
}
.stl_67 {
	letter-spacing: -0.0153em;
}

.stl_ie .stl_67 {
	letter-spacing: -0.206px;
}
.stl_68 {
	letter-spacing: -0.004em;
}

.stl_ie .stl_68 {
	letter-spacing: -0.0533px;
}
.stl_69 {
	letter-spacing: -0.0057em;
}

.stl_ie .stl_69 {
	letter-spacing: -0.0765px;
}
.stl_70 {
	letter-spacing: -0.0112em;
}

.stl_ie .stl_70 {
	letter-spacing: -0.1499px;
}
.stl_71 {
	letter-spacing: -0.0068em;
}

.stl_ie .stl_71 {
	letter-spacing: -0.0911px;
}
.stl_72 {
	letter-spacing: 0.0017em;
}

.stl_ie .stl_72 {
	letter-spacing: 0.0222px;
}
.stl_73 {
	letter-spacing: -0.0015em;
}

.stl_ie .stl_73 {
	letter-spacing: -0.02px;
}
.stl_74 {
	letter-spacing: 0.0074em;
}

.stl_ie .stl_74 {
	letter-spacing: 0.1px;
}
.stl_75 {
	letter-spacing: -0.0081em;
}

.stl_ie .stl_75 {
	letter-spacing: -0.1089px;
}
.stl_76 {
	letter-spacing: -0.0094em;
}

.stl_ie .stl_76 {
	letter-spacing: -0.127px;
}
.stl_77 {
	letter-spacing: -0.0066em;
}

.stl_ie .stl_77 {
	letter-spacing: -0.0885px;
}
.stl_78 {
	letter-spacing: -0.0088em;
}

.stl_ie .stl_78 {
	letter-spacing: -0.1184px;
}
.stl_79 {
	letter-spacing: -0.0059em;
}

.stl_ie .stl_79 {
	letter-spacing: -0.0798px;
}
.stl_80 {
	letter-spacing: -0.0026em;
}

.stl_ie .stl_80 {
	letter-spacing: -0.0351px;
}
.stl_81 {
	letter-spacing: -0.0045em;
}

.stl_ie .stl_81 {
	letter-spacing: -0.06px;
}
.stl_82 {
	letter-spacing: -0.0031em;
}

.stl_ie .stl_82 {
	letter-spacing: -0.0417px;
}
.stl_83 {
	letter-spacing: -0.0035em;
}

.stl_ie .stl_83 {
	letter-spacing: -0.0469px;
}
.stl_84 {
	letter-spacing: 0.0085em;
}

.stl_ie .stl_84 {
	letter-spacing: 0.1147px;
}
.stl_85 {
	letter-spacing: 0.0001em;
}

.stl_ie .stl_85 {
	letter-spacing: 0.0015px;
}
.stl_86 {
	letter-spacing: -0.0039em;
}

.stl_ie .stl_86 {
	letter-spacing: -0.053px;
}
.stl_87 {
	letter-spacing: 0.0008em;
}

.stl_ie .stl_87 {
	letter-spacing: 0.0111px;
}
.stl_88 {
	letter-spacing: -0.0047em;
}

.stl_ie .stl_88 {
	letter-spacing: -0.0636px;
}
.stl_89 {
	letter-spacing: -0.0034em;
}

.stl_ie .stl_89 {
	letter-spacing: -0.0451px;
}
.stl_90 {
	letter-spacing: -0.0033em;
}

.stl_ie .stl_90 {
	letter-spacing: -0.0444px;
}
.stl_91 {
	letter-spacing: -0.0053em;
}

.stl_ie .stl_91 {
	letter-spacing: -0.0706px;
}
.stl_92 {
	letter-spacing: -0.0119em;
}

.stl_ie .stl_92 {
	letter-spacing: -0.16px;
}
.stl_93 {
	letter-spacing: -0.003em;
}

.stl_ie .stl_93 {
	letter-spacing: -0.0406px;
}
.stl_94 {
	letter-spacing: -0.0103em;
}

.stl_ie .stl_94 {
	letter-spacing: -0.1383px;
}
@font-face {
	font-family:"COPDRA+Garamond";
	src:url("810cd565-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_95 {
	font-size: 0.648em;
	font-family: "COPDRA+Garamond";
	color: #000000;
}
.stl_96 {
	letter-spacing: 0.0127em;
}

.stl_ie .stl_96 {
	letter-spacing: 0.11px;
}
.stl_97 {
	letter-spacing: -0.0046em;
}

.stl_ie .stl_97 {
	letter-spacing: -0.0623px;
}
@font-face {
	font-family:"CEPMMD+Times New Roman Bold";
	src:url("5c867d1a-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_98 {
	font-size: 0.84em;
	font-family: "CEPMMD+Times New Roman Bold";
	color: #000000;
}
.stl_99 {
	letter-spacing: -0.0079em;
}

.stl_ie .stl_99 {
	letter-spacing: -0.106px;
}
.stl_100 {
	letter-spacing: -0.0067em;
}

.stl_ie .stl_100 {
	letter-spacing: -0.0904px;
}
.stl_101 {
	letter-spacing: -0.0051em;
}

.stl_ie .stl_101 {
	letter-spacing: -0.0691px;
}
.stl_102 {
	letter-spacing: -0.0036em;
}

.stl_ie .stl_102 {
	letter-spacing: -0.0489px;
}
.stl_103 {
	letter-spacing: -0.0016em;
}

.stl_ie .stl_103 {
	letter-spacing: -0.0216px;
}
.stl_104 {
	letter-spacing: -0.0019em;
}

.stl_ie .stl_104 {
	letter-spacing: -0.0249px;
}
.stl_105 {
	letter-spacing: -0.007em;
}

.stl_ie .stl_105 {
	letter-spacing: -0.0937px;
}
.stl_106 {
	letter-spacing: 0.0185em;
}

.stl_ie .stl_106 {
	letter-spacing: 0.16px;
}
.stl_107 {
	letter-spacing: -0.0095em;
}

.stl_ie .stl_107 {
	letter-spacing: -0.1272px;
}
.stl_108 {
	letter-spacing: 0.0011em;
}

.stl_ie .stl_108 {
	letter-spacing: 0.0206px;
}
.stl_109 {
	font-size: 1em;
	font-family: "LLDWUH+Garamond Bold";
	color: #000000;
}
.stl_110 {
	letter-spacing: 0.0002em;
}

.stl_ie .stl_110 {
	letter-spacing: 0.0031px;
}
.stl_111 {
	font-size: 1em;
	font-family: "OURCJQ+Garamond Bold";
	color: #000000;
}
.stl_112 {
	letter-spacing: -0.0008em;
}

.stl_ie .stl_112 {
	letter-spacing: -0.0135px;
}
.stl_113 {
	letter-spacing: 0.0077em;
}

.stl_ie .stl_113 {
	letter-spacing: 0.103px;
}
.stl_114 {
	letter-spacing: -0.0022em;
}

.stl_ie .stl_114 {
	letter-spacing: -0.0297px;
}
.stl_115 {
	letter-spacing: -0.0076em;
}

.stl_ie .stl_115 {
	letter-spacing: -0.1016px;
}
.stl_116 {
	letter-spacing: 0.0036em;
}

.stl_ie .stl_116 {
	letter-spacing: 0.0482px;
}
.stl_117 {
	letter-spacing: -0.0071em;
}

.stl_ie .stl_117 {
	letter-spacing: -0.0951px;
}
.stl_118 {
	letter-spacing: -0.0083em;
}

.stl_ie .stl_118 {
	letter-spacing: -0.1111px;
}
.stl_119 {
	letter-spacing: -0.008em;
}

.stl_ie .stl_119 {
	letter-spacing: -0.1078px;
}
.stl_120 {
	font-size: 1.16em;
	font-family: "OURCJQ+Garamond Bold";
	color: #000000;
}
.stl_121 {
	letter-spacing: -0.0007em;
}

.stl_ie .stl_121 {
	letter-spacing: -0.0132px;
}
.stl_122 {
	letter-spacing: -0.0092em;
}

.stl_ie .stl_122 {
	letter-spacing: -0.1235px;
}
.stl_123 {
	letter-spacing: -0.0102em;
}

.stl_ie .stl_123 {
	letter-spacing: -0.1372px;
}
.stl_124 {
	letter-spacing: -0.0021em;
}

.stl_ie .stl_124 {
	letter-spacing: -0.028px;
}
.stl_125 {
	font-size: 0.648em;
	font-family: "CEPMMD+Times New Roman Bold";
	color: #000000;
}
.stl_126 {
	letter-spacing: 0.0114em;
}

.stl_ie .stl_126 {
	letter-spacing: 0.0986px;
}
.stl_127 {
	letter-spacing: -0.0028em;
}

.stl_ie .stl_127 {
	letter-spacing: -0.0375px;
}
.stl_128 {
	letter-spacing: -0.0069em;
}

.stl_ie .stl_128 {
	letter-spacing: -0.0921px;
}
.stl_129 {
	letter-spacing: -0.0018em;
}

.stl_ie .stl_129 {
	letter-spacing: -0.0235px;
}
